body {
    background-color: #646464;
    color: #070707;
}

h1 {
    font-size: 100px;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4 {
    font-size: 20px;
}

.dashboard-fp {
    text-align: center;
}

.adopt{
    border-radius: 10px;
}

.front {
    width: 25%;
}