body {
    margin: 0 0 0 0;
    padding: 0%;
}

h2 {
    text-align: center;
}

ul {
    padding-left: 0%;
}

.queue-card {
    width: 25%;
    margin: 0 auto;
    border-radius: 10px;
    background: #dadada;
    box-shadow: 2px 2px 5px #000000;
}

