body {
    margin: 0 0 0 0;
    padding: 0%;
}

h2 {
    text-align: center;
}

ul {
    padding-left: 0%;
}

.queue-card {
    width: 90%;
    margin: 0 auto;
    background: #ffa69e;
    box-shadow: 2px 2px 5px #ffa69e;
}

